[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
selenium = "*"
tbselenium = "*"
googletrans = "*"
lit-nlp = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"

[packages.requests]
extras = [ "socks",]
